import pandas as pd 
import json
import numpy as np
import matplotlib.pyplot as plt
from itertools import combinations
from IPython.display import display
from collections import Counter
from geopy.geocoders import Nominatim